/* 
    Pygments CSS with custom athena modifications
 */

@font-face {
    font-family: Menlo Regular;
    src: url("menlo-regular.woff") format("woff"),
         url("menlo-regular.woff2") format("woff2");
}

pre {
    font-family: Menlo Regular;
    font-size: .9rem;
    font-weight: 500;
    background: #222;
    border-radius: 5px;
    overflow: auto;
    padding: 16px;
}

code span.kw, code span.cf, code span.dt {
    color: #e1b4b6 !important;
}

code span.fu, code span.ot, code span.at, code span.va, code span.op,
code span.im {
    color: #aaa !important;
}

code span.ch, code span.st {
    color: #ebebeb !important;
}
